{% extends 'base.html' %}

{% load staticfiles %}

{% block main %}
    <div class="container">
        <pre>{{ text }}</pre>
        <br>
        <img src="{% static 'example.png' %}">
    </div>
{% endblock %}