<form class="form-inline" method="post">
    <div class="form-group">
        <label for="date_start">Start date</label>
        <input type="date" class="form-control" id="date_start" placeholder="15.02.2016" name="date_start" value="{{ date_start }}">
    </div>
    <div class="form-group">
        <label for="date_stop">Stop date</label>
        <input type="date" class="form-control" id="date_stop" placeholder="15.02.2016" name="date_stop" value="{{ date_stop }}">
    </div>
    {% csrf_token %}
    <button type="submit" class="btn btn-default">Filter</button>

    <a href="#" class="btn btn-default pull-right js-csv">CSV</a>
</form>
<script>
    $(document).ready(function () {
        $('.js-csv').click(function () {
            var dstart = $('#date_start').val(),
                    dstop = $('#date_stop').val();
            var path = window.location.pathname + '?csv=1' + '&date_start=' + dstart + '&date_stop=' + dstop;
            $(this).attr('href', path);
        });
    });
</script>