{% extends 'base.html' %}

{% block main %}
    <div class="container">
        <div class="page-header">
            <h1>Vacancy text <small><a href="{% url 'desc' %}">link to description</a></small></h1>
        </div>

        <ul class="nav nav-tabs">
            <li role="presentation" {% if 'main' in request.path %}class="active"{% endif %}><a href="{% url 'main' %}">Simple way</a></li>
            <li role="presentation" {% if 'ajax' in request.path %}class="active"{% endif %}><a href="{% url 'ajax' %}">Ajax way</a></li>
            <li role="presentation" {% if 'infinite' in request.path %}class="active"{% endif %}><a href="{% url 'infinite' %}">Infinite loading</a></li>
        </ul>

        <br>
        {% include 'form.html' %}
        <br>
        {% include 'table.html' %}
    </div>
{% endblock %}