<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>pm_id</th>
            <th>price</th>
            {% for date in dates %}
                <th>{{ date|date:"d.m.Y" }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% include 'table_body.html' %}
    </tbody>
</table>

{% if 'main' in request.path %}
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if pagination.has_previous %}
            <li>
                <a href="{% url 'main_pagination' 1 %}?date_start={{ date_start }}&date_stop={{ date_stop }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li>
                <a href="{% url 'main_pagination' pagination.previous_page_number %}?date_start={{ date_start }}&date_stop={{ date_stop }}" aria-label="Previous">
                    {{ pagination.previous_page_number }}
                </a>
            </li>
        {% endif %}

        <li><a class="disabled">{{ pagination.number }}</a></li>

        {% if pagination.has_next %}
        <li>
            <a href="{% url 'main_pagination' pagination.next_page_number %}?date_start={{ date_start }}&date_stop={{ date_stop }}" aria-label="Next">
                {{ pagination.next_page_number }}
            </a>
        </li>
        <li>
            <a href="{% url 'main_pagination' pagination.paginator.num_pages %}?date_start={{ date_start }}&date_stop={{ date_stop }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% if 'ajax' in request.path %}
<nav aria-label="Page navigation">
    <ul class="pagination">

        <li {% if not pagination.has_previous %}class="hidden"{% endif %}>
            <a href="#" class="js-previous" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>


        <li {% if not pagination.has_next %}class="hidden"{% endif %}>
            <a href="#" class="js-next" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
{% endif %}

{% if 'ajax' in request.path or 'infinite' in request.path %}
<script>
    $(document).ready(function() {
        var cur_page = 1;

        $('.js-next').click(function() {
            get_page(cur_page + 1);
        });

        $('.js-previous').click(function () {
            get_page(cur_page - 1);
        });

        var get_page = function (page, append) {
            var dstart = $('#date_start').val(),
                    dstop = $('#date_stop').val();

            $.get(
                    window.location.href,
                    {
                        'page': page,
                        'date_start': dstart,
                        'date_stop': dstop
                    },
                    function (data) {
                        if (append) {
                            $('tbody').append(data['table'])
                        } else {
                            $('tbody').html(data['table']);
                        }
                        cur_page = page;

                        var $next = $('.js-next').closest('li'),
                                $prev = $('.js-previous').closest('li');

                        if (data['has_next']) {
                            $next.removeClass('hidden');
                        } else {
                            $next.addClass('hidden')
                        }

                        if (data['has_previous']) {
                            $prev.removeClass('hidden');
                        } else {
                            $prev.addClass('hidden')
                        }
                    }
            )
        };

        {% if 'infinite' in request.path %}
            function element_in_scroll(elem)
            {
                var docViewTop = $(window).scrollTop();
                var docViewBottom = docViewTop + $(window).height();

                var elemTop = $(elem).offset().top;
                var elemBottom = elemTop + $(elem).height();

                return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
            }

            $(document).scroll(function(e){
                if (element_in_scroll("tr:last")) {
                        get_page(cur_page + 1, true);
                    }
            });
        {% endif %}
    });
</script>
{% endif %}