{% for pm_id, data in purchases.items %}
    {% for price, dates in data.items %}
        <tr>
            <td>{{ pm_id }}</td>
            <td>{{ price }}</td>
            {% for date, amount in dates.items %}
                <td {% if amount > 0 %}class="info"{% endif %}>{{ amount }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
{% endfor %}